.navbar-basic{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-bod{
    border-bottom: 3px solid white;

    animation-name: flash_border;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash_border;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash_border;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

.box-bod{
    border: 1px solid white;
    border-radius: 20px;
    animation-name: flash_border;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash_border;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash_border;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}


@keyframes flash_border {
    0% {
        border-color: #fcb045;
    }
    10% {
        border-color: #fd8138;
    }
    20% {
        border-color: #fd4729;
    }
    30% {
        border-color: #de2544;
    }
    40% {
        border-color: #a2338d;
    }
    50% {
        border-color: #833ab4;
    }
    60% {
        border-color: #833ab4;
    }
    70% {
        border-color: #be2c6a;
    }
    80% {
        border-color: #fd3223;
    }
    90% {
        border-color: #fd5b2e;
    }
    100% {
        border-color: #fd963e;
    }
}

@-webkit-keyframes flash_border {
    0% {
        border-color: #fcb045;
    }
    10% {
        border-color: #fd8138;
    }
    20% {
        border-color: #fd4729;
    }
    30% {
        border-color: #de2544;
    }
    40% {
        border-color: #a2338d;
    }
    50% {
        border-color: #833ab4;
    }
    60% {
        border-color: #833ab4;
    }
    70% {
        border-color: #be2c6a;
    }
    80% {
        border-color: #fd3223;
    }
    90% {
        border-color: #fd5b2e;
    }
    100% {
        border-color: #fd963e;
    }
}

@-moz-keyframes flash_border {
    0% {
        border-color: #fcb045;
    }
    10% {
        border-color: #fd8138;
    }
    20% {
        border-color: #fd4729;
    }
    30% {
        border-color: #de2544;
    }
    40% {
        border-color: #a2338d;
    }
    50% {
        border-color: #833ab4;
    }
    60% {
        border-color: #833ab4;
    }
    70% {
        border-color: #be2c6a;
    }
    80% {
        border-color: #fd3223;
    }
    90% {
        border-color: #fd5b2e;
    }
    100% {
        border-color: #fd963e;
    }
}