.heading {
	color: white;
	font-size: 30px;
	font-weight: bolder;
}

.text {
	color: white;
	font-size: 10px;
	font-weight: normal;
}

.main-btn{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}